/*header*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-bottom: 1px solid #e7bab0;
}

/*notification*/
.notification {
    height: 27%;
    color: #eee;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    display: flex;
    cursor: default;
}

.notification-text {
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, serif;
    font-style: italic;
}

/*vertical line*/
.vertical-line {
    width: 1px;
    background-color: #202228;
    height: 28px;
}

/*signin button and cart button*/
.login-btn-main-page {
    margin-right: 5px;
}

.login-btn-main-page {
    outline-offset: -3px;
    border: 1px solid #5e5c4d;
    background-color: white;
    border-radius: 9px;
    color: #5e5c4d;
    transition: .4s ease-out;
    font-size: 1rem;
    width: 60px;
}

.cart-btn-header {
    border: 1px solid #e7bab0;
    margin-left: 35px;
    border-radius: 9px;
    color: #5e5c4d;
    font-size: 22px;
}

#cart-badge {
    color: #5e5c4d;
    font-size: 18px;
}

.cart-btn-header:hover {
    color: white;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.cart-btn-header:hover #cart-badge {
    color: white;
}

.login-btn-main-page:hover, #scrollToTop:hover {
    background-color: #e7bab0;
    color: white;
    border: #e7bab0;
}

/*navbar text*/
.navbar-text {
    padding-right: 30px;
    font-family: 'Pacifico', cursive;
    color: #e7bab0;
}

/*header dropdown*/
.user-fullname {
    border: none;
    background-color: white;
    font-family: 'Pacifico', cursive;
    color: #5e5c4d;
    font-size: 18px;
}

.navbar-logined {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header-dropdown-content .dropdown-child {
    background-color: white;
    color: #5e5c4d;
    padding: 5px 16px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    text-align: center;
    display: block;
}

.header-dropdown-content .dropdown-child:hover, .logout-btn:hover {
    background-color: #ddd;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.logout-btn {
    background-color: white;
    color: #5e5c4d;
    border: none;
    text-align: center;
    width: 100%;
    padding: 5px 16px;
    font-family: 'Pacifico', cursive;
}

/*logo img*/
.header-logo {
    height: 40px;
}

/*header navlink*/
.header-nav-link {
    padding-left: 15px;
    text-decoration: none;
    color: #282c34;
}

@media screen and (max-width: 960px) {
    .vertical-line {
        display: none;
    }
}

.nav-link {
    font-family: "Bookman Old Style", sans-serif;
}

/*back to top btn*/
#scrollToTop {
    position: fixed;
    left: 95%;
    bottom: 5%;
    outline: 3px #e7bab0 solid;
    outline-offset: -3px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: #eeeeee;
    color: #e7bab0;
    transition: .3s ease-out;
    font-size: 16px;
    width: 45px;
}

@media screen and (max-width: 992px) {
    #scrollToTop {
        left: 90%;
    }
    .user-fullname {
        font-family: "Bookman Old Style", sans-serif;
        color: gray;
        font-weight: normal;
        padding-left: 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    #scrollToTop {
        left: 85%;
        z-index: 1;
    }

    .user-fullname {
        font-family: "Bookman Old Style", sans-serif;
        color: gray;
        font-weight: normal;
        padding-left: 0;
        font-size: 15px;
    }
}

/*modal*/
.logout-btn-modal-cancel, .logout-btn-modal-confirm {
    height: 36px;
    border: 1px solid #5e5c4d;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.logout-btn-modal-cancel {
    background-color: #717171;
    color: #eee;
}

.logout-btn-modal-cancel:hover {
    background-color: #5e5c4d;
    color: white;
}

.logout-btn-modal-confirm {
    background-color: #eee;
    color: #5e5c4d;
    transition: .5s ease;
}

.logout-btn-modal-confirm:hover {
    background-color: #5e5c4d;
    color: white;
}

.logout-modal-header {
    font-family: Lora, 'sans-serif';
    background-color: #e7bab0;
    color: #5e5c4d;
}

.logout-modal-body {
    font-family: Lora, 'sans-serif';
    font-size: 18px;
}

/*nav link active/un-active*/
.my-nav-link-un-active {
    color: gray;
    font-weight: normal;
    padding-left: 15px;
    text-decoration: none;
    color: #282c34;
    font-family: "Tahoma", sans-serif;
}

.my-nav-link-active {
    padding-left: 15px;
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    color: #282c34;
    font-weight: bold;
}


