/*header*/
.header {
    box-sizing: border-box;
}

/*notification*/
.notification {
    height: 27%;
    color: white;
    background-color: #007ACC;
    /*background-image: linear-gradient(90deg, #97e7f5 0%, #009ed1 50%, #7dd449 100%);*/
    display: flex;
}

.notification-text {
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 12px;
}

/*vertical line*/
.vertical-line {
    width: 1px;
    background-color: #202228;
    height: 28px;
}

/*signin button and cart button*/
.login-btn-main-page {
    margin-right: 5px;
}

.login-btn-main-page, .cart-header {
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    color: #007ACC;
    transition: .3s ease-out;
    font-size: 16px;
    width: 90px;
}

.login-btn-main-page:hover, .cart-header:hover {
    background-color: #007ACC;
    color: white;
}


/*navbar text*/
.navbar-text {
    padding-right: 30px;
    font-family: 'Pacifico', cursive;
}

/*logo img*/
.header-logo {
    height: 40px;
}

/*header navlink*/
.header-nav-link {
    padding-left: 15px;
    text-decoration: none;
    color: #282c34;
}

@media screen and (max-width: 960px) {
    .vertical-line {
        display: none;
    }
}
