/**/
#wrapper {
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../public/login-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/**/
.main-form {
    position: relative;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
    width: 36%;
    height: auto;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: blur(63px);
}

/**/
.login-title {
    padding-top: 2%;
    text-align: center;
    color: #282c34;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lora', cursive;
}

/**/
.login-form {
    text-align: center;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
}

.form-child-unit, .form-child-btn {
    padding-top: 4%;
    margin-top: 1%;
}

/*login, login with facebook button*/
.login-btn, .fb-login-tag {
    color: #282c34;
    margin-top: 1%;
    border-radius: 19px;
    vertical-align: center;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
    transition: 400ms;
    border: 3px #282c34 solid;
    gap: 15px;
    background-color: transparent;
    font-family: 'Lora', cursive;
}

.login-btn:hover, .fb-login-tag:hover {
    background-color: #282c34;
    color: #e7bab0;
}

.login-btn:after {
    background-color: #282c34;
    color: #e7bab0;
}

/*facebook icon */
.fa-facebook {
    font-size: 17px;
}

/*username and password field*/
.input-tag {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding-left: 15px;
    font-weight: bold;
    font-family: 'Lora', cursive;
}

.input-tag::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.input-tag:focus {
    outline: none;
    border: none;
}

/*option*/
.a-link {
    color: #ffffff;
    text-decoration: none;
}

.a-link:hover {
    text-decoration: underline;
    color: #282c34;
}


/*responsive*/
@media screen and (max-width: 1280px) {
    .main-form {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .main-form {
        width: 90%;
        background-repeat: repeat;
    }
}


@media screen and (max-width: 480px) {
    .main-form {
        position: relative;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
        border-radius: 0;
        backdrop-filter: blur(.3);
        padding-bottom: 15px;
        background-image: url("../../public/login-bg.png");
        background-size: cover;
        background-repeat: repeat;
    }

    .a-link {
        color: #282c34;
        text-decoration: none;
    }

    #back-to-main-div {
        display: block;
    }

    .login-form {
        padding-top: 85%;
        text-align: center;
        color: white;
        padding-right: 5%;
        padding-left: 5%;
    }
}

/*button vertical spacing*/
.login-btn-div {
    padding-top: 3%;
}

.login-with-fb-btn {
    padding-top: 1%;
}

.login-text {
    font-family: 'Lora', cursive;
    color: #ffffff;
}

/*facebook icon in login button*/
.fb-icon {
    color: white;
}

.form-child-option {
    font-size: 18px;
    padding-top: 3%;
}

/*error msg*/
.form-err-msg {
    color: rgba(255, 153, 29, 0.86);
}
