.purchase-history-wrapper {
    position: relative;
    top: 86px;
    min-height: 100vh;
    box-sizing: border-box;
    border: 0;
    font-family: Lora, 'sans-serif';
    margin-bottom: 50px;
}

.ph-title-div {
    padding-top: 30px;
    text-align: center;
}

.ph-title-text {
    color: #5e5c4d;
    font-size: 1.6rem;
    font-family: Lora, 'sans-serif'
}

.ph-table tr {
    border-bottom: 1px solid #e7bab0;
    text-align: center;
}

.ph-table tr, .ph-table th {
    height: 45px;
}

.ph-thead {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.ph-content {
    margin-top: 2%;
}

.ph-table th {
    font-family: Lora, 'sans-serif';
    text-align: center;
}

.ph-icon-detail {
    color: #5e5c4d;
    font-size: 1.2rem;
    margin-left: 2%;
}

/**/
.ph-page-area {
    margin-top: 5%;
    justify-content: center;
    display: grid;
}

.ph-page-area-child {
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ph-forw-btn {
    outline: none;
    border: 1px solid #5e5c4d;
    color: #5e5c4d;
    background-color: #eee;
    border-radius: 5px;
    width: 56px;
    height: 36px;
    font-size: 23px;
}

.ph-forw-btn:hover {
    color: #eee;
    background-color: #5e5c4d;
}

.ph-curpage {
    min-width: 30px;
    padding-left: 9px;
    padding-right: 9px;
    display: grid;
}

.ph-curpage span {
    place-self: center;
}

.ph-psize {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #5e5c4d;
    outline: none;
    width: 50px;
}

.ph-psize:focus {
    outline: none;
}


@media screen and (max-width: 900px) {

    .purchase-history-wrapper {
        min-height: 600px;
    }

}
